*{
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(2, 44%, 23%);
}
.scroll-wrapper::-webkit-scrollbar {
    height: 6px;
}
.scroll-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #D79655;
  outline: 1px solid slategrey;
}
.menu-wrapper::-webkit-scrollbar {
    height: 6px;
}
.menu-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.menu-wrapper::-webkit-scrollbar-thumb {
  background-color: #D79655;
  outline: 1px solid slategrey;
}
.mobile-nav {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    z-index: 10;

    width: 100vw;
    height: 10vh;
    
    background-color: hsl(2, 44%, 23%);
}
.desktop-nav {
    display: none;
}
.mobile-nav-offset {
    height: 10vh;
}
.mobile-nav img {
    height: 6vh;
    width: 6vh;
}
.hero-background {
    height: 95vh;
    width: 100vw;
    z-index: 1;
    object-fit: cover;
    object-position: 70% 50%;
}
.hero-wrapper {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    width: 80vw;
}
.hero-links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;

    list-style-type: none;
}
.hero-links li{
    background-color: rgba(0, 0, 0, 90%);
    border-radius: 100px;

    width: 100%;

    text-align: center;
    padding: 7px 0px;
}
.hero-links a {
    color: #D79655;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.hero-text{    
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, 90%);
    border-radius: 25px;
}
.hero-text p{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 30px;
    color: #D79655;
    font-size: 0.9rem;
}
hr {
    border: 5px solid #D79655;
}

.about-us {
    display: flex;
    flex-direction: column;
    
}
.scroll-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    overflow-x: scroll;
    gap: 5%;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
.about-us li {
    display: list-item;
    min-width: 90%;
    list-style-type: none;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.foto-home {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.foto-home img {
    width: 320px;
    aspect-ratio: 16 / 12;
    object-fit: cover;
}
.foto-home li {
    margin-top: 5%;
    margin-bottom: 5%;
}
.openingsuren-home {
    display: flex;

    flex-direction: column;
    list-style-type: none;
}
.openingsuren-wrapper{
    width: 65%;
    align-self: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.openingsuren-home li {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.7em;
}
.openingsuren-home div {
    padding: 0.3em;
    text-align: center;
}

.location-home {
    display: flex;
    flex-direction: column;
}
.location-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.location-wrapper iframe{
    align-self: center;
    width: 70%;
    aspect-ratio: 5/3;
}

h2 {
    align-self: center;
    padding: 2%;
    line-height: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #D79655;
    font-weight: bold;
}
hr {
    align-self: center;
    width: 90%;
}

.banner-img {
    background-image: url("/data/static/image/spicebackground-mobile.svg");
    height: 80px;
}

.contact-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-wrapper > li > img{
    height: 50px;
    width: 50px;
    align-self: center;
    padding: 15px;
}
.fb-logo {
    height: 150px;
    width: 150px;
    align-self: center;
    margin-bottom: 75px;
}
.contact-wrapper li {
    display: flex;
    flex-direction: column;
}
.contact-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}
.sub-nav {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sub-nav ul {
    list-style-type: none;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sub-nav hr {
    width: 90%;
}
.sub-nav ul li a{
    line-height: 40px;
    font-size: 26px;
    text-decoration: none;
    color: #D79655;
    font-weight: bold;
}
.sub-nav ul li{
    line-height: 40px;
    font-size: 26px;
    text-decoration: none;
    color: #D79655;
    font-weight: bold;
}
.menu-wrapper {
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    overflow-x: auto;
    gap: 5%;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.menu-wrapper li {
    min-width:  80vw;
}
.menu-wrapper img {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.hero-logo-background {
    height: 120px;
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 45px ;
}

/* extra small phone screen */
@media only screen and (min-width: 340px) {
    .hero-text p { 
        font-size: 1.1rem;
    }


}

@media only screen and (min-width: 414px) {
    .banner-img {
        background-image: url("/data/static/image/spicebackground.svg");
        height: 150px;
    }
    .sub-nav ul li a{
        line-height: 50px;
        font-size: 36px;
    }
    .sub-nav ul li{
        line-height: 50px;
        font-size: 36px;
    }

}
/* small phone screen */
@media only screen and (min-width: 470px) {
    .hero-text p { 
        font-size: 1.3rem;
    }
    .openingsuren-home li {
        color: white;
        font-size: 1.7em;
    }
    .openingsuren-home div {
        display: flex; 
        justify-content: space-between;
        padding: 0.3em;
    }
    .openingsuren-wrapper{
        width: 80%;
    }
    .hero-logo-background {
        height: 160px;
        width: auto;
    }
}

@media only screen and (min-width: 550px) {
    .openingsuren-wrapper{
        width: 70%;
    }
    .fb-logo {
        height: 250px;
        width: 250px;
    }

}

/* phone screen */

@media only screen and (min-width: 690px) {
    .hero-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-wrapper {
        top: 100px;
        width: 65%;
    }

    .hero-links li {
        width: 45%;
    }

    .about-us li {
        min-width: 50%;
    }
    .openingsuren-wrapper{
        width: 50%;
    }
    .menu-wrapper li {
        min-width:  60vw;
    }
    .hero-logo-background {
        height: 180px;
        width: auto;
        margin-top: -25px;
    }

}

@media only screen and (min-width: 950px) {
    .openingsuren-wrapper{
        width: 35%;
    }
    .location-wrapper iframe{
        width: 50%;
    }
    .sub-nav ul {
        width: 50%;
    }
    .menu-wrapper li {
        min-width:  40vw;
    }
    .hero-logo-background {
        height: 220px;
        width: auto;
        margin-top: -30px;
    }
}

/* pc screen */
@media only screen and (min-width: 1280px) {
    html {
        font-size: 24px;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-nav-offset {
        display: none;
    }
    .desktop-nav {
        display: flex;
        justify-content: space-evenly; 
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .desktop-nav a{
        line-height: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: #D79655;
        font-weight: bold;
    }
    .hero-wrapper {
        top: 4rem;
        transform: translate(-50%, 0);
        width: 80vw;
    }
    .hero-links {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 0px;
    }
    .hero-links li {
        width: 33%;
    }
    .hero-wrapper {
        width: 60%;
    }
    .hero-text p{
        font-size: 1rem;
    }
    .openingsuren-home li {
        font-size: 1.1em;
    }
    .contact-wrapper a {
        font-size: 1.5em;
    }
    .hero-logo-background {
        height: 300px;
        width: auto;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}
@media only screen and (min-width: 1440px) {
    .banner-img {
        height: 150px;
        background-size: 110%;
    }

}

/* big pc screen */
@media only screen and (min-width: 1500px) {
    html {
        font-size: 36px;
    }
    .openingsuren-wrapper{
        width: 40%;
    }
    .contact-wrapper a {
        font-size: 1.1em;
    }
    .fb-logo {
        margin-bottom: 35px;
    }
    .sub-nav ul li a{
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .sub-nav ul li{
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .menu-wrapper li {
        min-width:  30vw;
    }

}
@media only screen and (min-width: 1700px) {
    .openingsuren-wrapper{
        width: 30%;
    }
    .menu-wrapper li {
        min-width:  30vw;
    }
}

/* scale bassed on height */
@media only screen and (max-height: 600px) {
    .hero-text p { 
        font-size: 0.8rem;
    }
}

